form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;

    &:focus {
      border-color: #007bff;
    }
  }
  input.ng-invalid.ng-touched{
    border: 1px solid red;
  }

  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}



table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  color: #000000;
  background-color: rgb(255, 255, 255);

  th, td {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;

  }

  th {
    background-color: rgb(84, 204, 206);
  }
}
